<style type="text/css">
    .ui-autocomplete-loading {
        background: white url('/static/autocomplete/ui-anim_basic_16x16.gif') right center no-repeat;
    }
</style>

<link rel="stylesheet" href="{{ url_for('static', filename='autocomplete/css/jquery.ui.all.css') }}" media="all" />

<script src="{{ url_for('static', filename='autocomplete/js/jquery.ui.core.js') }}"></script>
<script src="{{ url_for('static', filename='autocomplete/js/jquery.ui.widget.js') }}"></script>
<script src="{{ url_for('static', filename='autocomplete/js/jquery.ui.position.js') }}"></script>
<script src="{{ url_for('static', filename='autocomplete/js/jquery.ui.menu.js') }}"></script>
<script src="{{ url_for('static', filename='autocomplete/js/jquery.ui.autocomplete.js') }}"></script>

<div class="control-group">
    <label class="control-label">
        审批记录
    </label>
    <div class="controls">
        <button id="showlog" class="btn btn-info">{{ logsNum }}个审批</button>
    </div>
</div>

<div style="display: none;" id="logshow">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>审批人</th>
                <th>审批信息</th>
                <th>审批状态</th>
                <th>审批时间</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.step_user }}</td>
                <td>{{ log.approval_msg }}</td>
                <td>{{ config.STEP_NAMING[log.approval_status] }}</td>
                <td>{{ log.update_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<form class="ajax form-horizontal" autocomplete="off" method="post" action="">
    <div class="control-group">
        <label class="control-label">
            意见
        </label>
        <div class="controls">
            <textarea name="opinion" id="opinion" style="width: 500px; height: 50px;"></textarea>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">
            加签或转签
        </label>
        <div class="controls">
            <input type="radio" name="changeapp" id="nochange" value="-1" checked />不选择
            <input type="radio" name="changeapp" id="addapp" value="{{ config.APPROVAL_ADD }}" />加签
            <input type="radio" name="changeapp" id="turnapp" value="{{ config.APPROVAL_TURN }}" />转签

            <span style="margin-left: 20px;">给谁?</span>
            <input type="text" name="towho" id="towho" style="width:120px;" placeholder="姓名拼音" />
        </div>
    </div>


</form>
<script type="text/javascript">
    $(function() {
        $('#showlog').click(function() {
            $('#logshow').toggle(300);   
        });
        
        var cache = {};
            $("#towho").autocomplete({
                minLength: 2,
                source: function(request, response) {
                var term = request.term;
                if (term in cache) {
                    response(cache[term]);
                    return;
                }

                $.getJSON('/getJsonUser', request, function(data, status, xhr) {
                    cache[term] = data;
                    response(data);
                });
            }
        });

    });
</script>
