{% extends "layout.html" %}

{% block title %}创建媒体媒体正式接入流程{% endblock %}

{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='datetimepicker/jquery.datetimepicker.css') }}" media="all" />
<script src="{{ url_for('static', filename='datetimepicker/jquery.datetimepicker.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='blueimpUpload/css/jquery.fileupload.css') }}" media="all" />
<link rel="stylesheet" href="{{ url_for('static', filename='blueimpUpload/css/jquery.fileupload-ui.css') }}" media="all" />
<noscript><link rel="stylesheet" href="{{ url_for('static', filename='blueimpUpload/css/jquery.fileupload-noscript.css') }}" media="all"></noscript>
<noscript><link rel="stylesheet" href="{{ url_for('static', filename='blueimpUpload/css/jquery.fileupload-ui-noscript.css') }}" media="all"></noscript>

<div class="backMain">
    <fieldset>
        <legend>创建媒体正式接入流程</legend>
    </fieldset>

    <ul class="thumbnails inline create">
        <li>申请人: {{ session["'" + config.SESSION_REAL_NAME + "'"] }}</li>
        <li>申请日期: {{ today }}</li>
        <li>所属部门: {{ session["'" + config.USER_INFO_DEPARTMENT + "'"] }}</li>
        <li>联系电话: {{ session["'" + config.USER_INFO_MOBILE + "'"] }}</li>
        <li>电子邮件: {{ session["'" + config.USER_INFO_EMAIL + "'"] }}</li>
    </ul>

    <form class="ajax form-horizontal" autocomplete="off" method="post" action="">
        <div class="control-group">
            <input type="hidden" name="is_ajax" value="1" />
            <label class="control-label">
                <i>*</i>
                标题
            </label>
            <div class="controls">
                <input class="input-xxlarge" type="text" name="subject" />
            </div>
        </div>

        <div style="float: left;">
            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    媒体类别
                </label>
                <div class="controls">
                    <input class="input-large" type="text" name="media_type" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    广告位置
                </label>
                <div class="controls">
                    <input class="input-large" type="text" name="ad_position" />
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    采购流量
                </label>
                <div class="controls">
                    <input class="input-large" type="text" name="get_traffic" />
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    正式接入时间
                </label>
                <div class="controls">
                    <input class="input-large" id="start_connect_time" name="start_connect_time" type="text" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    合同流程是否通过
                </label>
                <div class="controls">
                    <select id="contract_pass" name="contract_pass" style="width: 100px;">
                        {% for item in config.CONTRACT_PASS_NAMING %}
                        <option value="{{ item }}">{{ config.CONTRACT_PASS_NAMING[item] }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="contract_num" id="contract_num" style="display: none;" class="input-small" placeholder="合同编号" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    付款方式
                </label>
                <div class="controls">
                    <select id="pay_type" name="pay_type">
                        {% for item in config.PAY_TYPE %}
                        <option value="{{ item }}">{{ config.PAY_TYPE[item] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div style="float: left;">
            <div class="control-group">
                <label class="control-label">
                    关联流程ID
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="relation_id" />
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    投放媒体名称
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="media_name" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    广告位ID
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="slot_id" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    合同采购成本
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="contract_cost" />
                </div>
            </div>
             
            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    扣量情况
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="cut_info" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    账期
                </label>
                <div class="controls">
                    <select id="account_time" name="account_time">
                        {% for item in config.ACCOUNT_TIME %}
                        <option value="{{ item }}">{{ item }}天</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div style="clear: both;"></div>
        
        <div id="is_show" style="display: none;">
            <div class="control-group">
                <label class="control-label"> 
                    <i>*</i>
                    付款时间段
                </label>
                <div class="controls">
                    <input id="start_pay_time" class="input-small" type="text" name="start_pay_time" placeholder="付款开始时间段" /> - 
                    <input id="end_pay_time" class="input-small" type="text" name="end_pay_time" placeholder="付款开始时间段" /> 
                </div>
            </div>

            <div style="float: left;">
                <div class="control-group">
                    <label class="control-label">
                        <i>*</i>
                        付款公司
                    </label>
                    <div class="controls">
                        <input class="input-large" type="text" name="pay_company" />
                    </div>
                </div>
            </div>

            <div style="float: left;">
                <div class="control-group">
                    <label class="control-label">
                        <i>*</i>
                        最晚付款时间及总额
                    </label>
                    <div class="controls">
                        <input id="end_pay_time_dead" class="input-small" type="text" name="end_pay_time_dead" />
                        <input id="pay_cost" class="input-small" type="text" name="pay_cost" placeholder="付款总额" />
                    </div>
                </div>
            </div>
            
            <div style="clear: both;"></div>
        
            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    媒体账户名
                </label>
                <div class="controls">
                    <input class="input-xxlarge" name="media_account" type="text" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    银行卡号
                </label>
                <div class="controls">
                    <input class="input-xxlarge" name="card_number" type="text" placeholder="纯数字,无需空格" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    开户行名称
                </label>
                <div class="controls">
                    <input class="input-xxlarge" name="media_bank" placeholder="xxx银行 xxx支行" type="text" />
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                附件
            </label>
            <div class="controls">
                <a href="#myUpload" role="button" class="btn btn-info" data-toggle="modal">上传附件</a> <span id="filenum"></span>
                <br />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                其他说明
            </label>
            <div class="controls">
                <textarea name="des" style="width:500px; height:100px;" placeholder="100字以内" id="des"></textarea>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                {{ form.hidden_tag() }}
                <input type="hidden" name="is_ajax" value="1" />
                <button type="submit" class="btn btn-large btn-primary">提交</button>
            </div>
        </div>
    </form> 

    {% include "wf/myUpload.html" %}   
</div>
{% endblock %}

{% block footer_script %}
<script type="text/javascript">
$(function() {
    $("#start_connect_time, #end_pay_time_dead").datetimepicker({
        timepicker:true,
        format: 'Y-m-d H:i:s',
        lang: 'ch',
    });

    $('#start_pay_time, #end_pay_time').datetimepicker({
        timepicker:true,
        format: 'H:i:s',
        lang: 'ch'
    });

    $("#pay_type").change(function() {
        if ($("#pay_type").val() == 3) {
            $("#is_show").show();
        } else {
            $("#is_show").hide();
        }
    });

    $("#contract_pass").change(function() {
        if ($("#contract_pass").val() == {{ config.IS_PASS }}) {
            $("#contract_num").show();
        } else {
            $("#contract_num").hide();
        }
    });

});
</script>
{% endblock %}
