{% extends "layout.html" %}

{% block title %}我的申请记录{% endblock %}

{% block main %}
<div class="backMain">
    <fieldset>
        <legend>我的申请记录</legend>
    </fieldset>

    <table class="table table-bordered table-striped">
        <thead>
            <tr style="cursor: pointer;">
                <th class="header">ID</th>
                <th class="header">标题</th>
                <th class="header">状态</th>
                <th class="header">目前审批者</th>
                <th class="header">申请时间</th>
            </tr>
            <tbody>
                {% for flow in flows %}
                <tr>
                    <td>{{ flow.id }}</td>
                    <td><a href="/flow/detail/{{ flow.f_type }}/{{ flow.id }}">{{ flow.subject }}</a></td>
                    <td>{{ config.FLOW_NAMING[flow.status] }}</td>
                    <td>{{ flowUser[flow.id] }}</td>
                    <td>{{ flow.create_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
</div>
{% endblock %}
