{% extends "layout.html" %}

{% block title %}我的审批{% endblock %}

{% block main %}
<div class="backMain">
    <fieldset>
        <legend>我的审批</legend>
    </fieldset>

    <table class="table table-bordered table-striped">
        <thead>
            <tr style="cursor: pointer;">
                <th class="header">ID</th>
                <th class="header">标题</th>
                <th class="header">状态</th>
                <th class="header">提交者</th>
                <th class="header">申请时间</th>
            </tr>
        </thead>
        <tbody>
            {% for flow in flows %}
            <tr>
                <td>{{ flow.id }}</td>
                <td><a href="/approval/{{ flow.f_type }}/{{ flow.id }}">{{ flow.subject }}</a></td>
                <td>{{ config.FLOW_NAMING[flow.status] }}</td>
                <td>{{ flow.create_user }}</td>
                <td>{{ flow.create_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
