{% extends "layout.html" %}

{% block title %}创建媒体结算付款流程{% endblock %}

{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='datetimepicker/jquery.datetimepicker.css') }}" media="all" />
<script src="{{ url_for('static', filename='datetimepicker/jquery.datetimepicker.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='blueimpUpload/css/jquery.fileupload.css') }}" media="all" />
<link rel="stylesheet" href="{{ url_for('static', filename='blueimpUpload/css/jquery.fileupload-ui.css') }}" media="all" />
<noscript><link rel="stylesheet" href="{{ url_for('static', filename='blueimpUpload/css/jquery.fileupload-noscript.css') }}" media="all"></noscript>
<noscript><link rel="stylesheet" href="{{ url_for('static', filename='blueimpUpload/css/jquery.fileupload-ui-noscript.css') }}" media="all"></noscript>

<div class="backMain">
    <fieldset>
        <legend>创建媒体正式接入流程</legend>
    </fieldset>

    <ul class="thumbnails inline create">
        <li>申请人: {{ session["'" + config.SESSION_REAL_NAME + "'"] }}</li>
        <li>申请日期: {{ today }}</li>
        <li>所属部门: {{ session["'" + config.USER_INFO_DEPARTMENT + "'"] }}</li>
        <li>联系电话: {{ session["'" + config.USER_INFO_MOBILE + "'"] }}</li>
        <li>电子邮件: {{ session["'" + config.USER_INFO_EMAIL + "'"] }}</li>
    </ul>

    <form class="ajax form-horizontal" autocomplete="off" method="post" action="">
        <div class="control-group">
            <input type="hidden" name="is_ajax" value="1" />
            <label class="control-label">
                <i>*</i>
                标题
            </label>
            <div class="controls">
                <input class="input-xxlarge" type="text" name="subject" />
            </div>
        </div>

        <div style="float: left;">
            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    媒体类别
                </label>
                <div class="controls">
                    <input class="input-large" type="text" name="media_type" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    广告位置
                </label>
                <div class="controls">
                    <input class="input-large" type="text" name="ad_position" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    付款时间段
                </label>
                <div class="controls">
                    <input id="start_pay_time" class="input-small" type="text" name="start_pay_time" placeholder="付款开始时间段" /> -
                    <input id="end_pay_time" class="input-small" type="text" name="end_pay_time" placeholder="付款开始时间段" />
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    合同流程是否通过
                </label>
                <div class="controls">
                    <select id="contract_pass" name="contract_pass" style="width: 100px;">
                        {% for item in config.CONTRACT_PASS_NAMING %}
                        <option value="{{ item }}">{{ config.CONTRACT_PASS_NAMING[item] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    总请求量
                </label>
                <div class="controls">
                    <input class="input-large" type="text" name="request" placeholder="纯数字" />
                </div>
            </div> 

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    总点击量
                </label>
                <div class="controls">
                    <input class="input-large" type="text" name="click" placeholder="纯数字" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    展现损耗率
                </label>
                <div class="controls">
                    <input class="input-large" type="text" name="show_lose_rate" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    扣量情况
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="cut_info" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    单价
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="price" placeholder="纯数字,支持小数" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    合同编号
                </label>
                <div class="controls">
                    <input class="input-large" id="contract_num" name="contract_num" type="text" placeholder="纯数字" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    付款公司
                </label>
                <div class="controls">
                    <input class="input-large" type="text" name="pay_company" />
                </div>
            </div>
        </div>

        <div style="float: left;">
            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    投放媒体名称
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="media_name" />
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label">
                    关联流程ID
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="relation_id" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    广告位ID
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="slot_id" placeholder="纯数字" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    合同规定排期
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="schedule" />
                </div>
            </div>

            
            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    总展现量
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="show" placeholder="纯数字"  />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    CTR
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="ctr" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    真实数据（请求）与排期差
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="data_gap" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    结算数据
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="clear_data" />
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    结算金额
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="clear_amount" placeholder="纯数字,支持小数" />
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    最晚付款时间及总额
                </label>
                <div class="controls">
                    <input id="end_pay_time_dead" class="input-small" type="text" name="end_pay_time_dead" placeholder="最晚付款时间" />
                    <input id="pay_cost" class="input-small" type="text" name="pay_cost" placeholder="付款总额" placeholder="纯数字,支持小数" />
                </div>
            </div>
        </div>
        
        <div style="clear: both;"></div>

        <div class="control-group">
            <label class="control-label">
                <i>*</i>
                媒体账户名
            </label>
            <div class="controls">
                <input class="input-xxlarge" name="media_account" type="text" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                <i>*</i>
                银行卡号
            </label>
            <div class="controls">
                <input class="input-xxlarge" name="card_number" type="text" placeholder="纯数字,无需空格" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                <i>*</i>
                开户行名称
            </label>
            <div class="controls">
                <input class="input-xxlarge" name="media_bank" placeholder="xxx银行 xxx支行" type="text" />
            </div>
        </div>

        <div style="clear: both;"></div>

        <div class="control-group">
            <label class="control-label">
                附件
            </label>
            <div class="controls">
                <a href="#myUpload" role="button" class="btn btn-info" data-toggle="modal">上传附件</a> <span id="filenum"></span>
                <br />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                其他说明
            </label>
            <div class="controls">
                <textarea name="des" style="width:500px; height:100px;" placeholder="100字以内" id="des"></textarea>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                {{ form.hidden_tag() }}
                <input type="hidden" name="is_ajax" value="1" />
                <button type="submit" class="btn btn-large btn-primary">提交</button>
            </div>
        </div>
    </form>

    {% include "wf/myUpload.html" %}
</div>
{% endblock %}

{% block footer_script %}
<script type="text/javascript">
$(function() {
    $("#start_connect_time, #end_pay_time_dead").datetimepicker({
        timepicker:true,
        format: 'Y-m-d H:i:s',
        lang: 'ch',
    });
    
    $('#start_pay_time, #end_pay_time').datetimepicker({
        timepicker:true,
        format: 'H:i:s',
        lang: 'ch'
    });
});
</script>
{% endblock %}
