{% extends "layout.html" %}

{% block title %}审批流程 - {{ flow.subject }}{% endblock %}

{% block main %}
<div class="backMain">
    <fieldset>
        <legend>审批流程 - {{ flow.subject }}</legend>
    </fieldset>

    <ul class="thumbnails inline create">
        <li>申请人: {{ flow.create_user }}</li>
        <li>申请时间: {{ flow.create_time }}</li>
    </ul>

    <div class="form-horizontal">
        <div class="control-group">
            <input type="hidden" name="is_ajax" value="1" />
            <label class="control-label">
                <i>*</i>
                标题
            </label>
            <div class="controls">
                <input class="input-xxlarge" type="text" name="subject" value="{{ flow.subject }}" readonly />
            </div>
        </div>

        <div style="float: left;">
            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    媒体类别
                </label>
                <div class="controls">
                    <input class="input-large" type="text" name="media_type" value="{{ flowDetail.media_type }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    广告位置
                </label>
                <div class="controls">
                    <input class="input-large" type="text" name="ad_position" value="{{ flowDetail.ad_position }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    付款时间段
                </label>
                <div class="controls">
                    <input id="start_pay_time" class="input-small" type="text" name="start_pay_time" placeholder="付款开始时间段" value="{{ flowDetail.start_pay_time }}" readonly /> -
                    <input id="end_pay_time" class="input-small" type="text" name="end_pay_time" placeholder="付款开始时间段" value="{{ flowDetail.end_pay_time }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    合同流程是否通过
                </label>
                <div class="controls">
                    <select id="contract_pass" name="contract_pass" style="width: 100px;">
                        {% for item in config.CONTRACT_PASS_NAMING %}
                        <option value="{{ item }}" {% if flowDetail.contract_pass == item %} selected {% endif %}>{{ config.CONTRACT_PASS_NAMING[item] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    总请求量
                </label>
                <div class="controls">
                    <input class="input-large" type="text" name="request" placeholder="纯数字" value="{{ flowDetail.request }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    总点击量
                </label>
                <div class="controls">
                    <input class="input-large" type="text" name="click" placeholder="纯数字" value="{{ flowDetail.click }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    展现损耗率
                </label>
                <div class="controls">
                    <input class="input-large" type="text" name="show_lose_rate" value="{{ flowDetail.show_lose_rate }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    扣量情况
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="cut_info" value="{{ flowDetail.cut_info }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    单价
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="price" placeholder="纯数字,支持小数" value="{{ flowDetail.price }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    合同编号
                </label>
                <div class="controls">
                    <input class="input-large" id="contract_num" name="contract_num" type="text" placeholder="纯数字" value="{{ flowDetail.contract_num }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    付款公司
                </label>
                <div class="controls">
                    <input class="input-large" type="text" name="pay_company" value="{{ flowDetail.pay_company }}" readonly />
                </div>
            </div>
        </div>

        <div style="float: left;">
            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    投放媒体名称
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="media_name" value="{{ flowDetail.media_name }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    关联流程ID
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="relation_id" value="{{ flow.relation }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    广告位ID
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="slot_id" placeholder="纯数字" value="{{ flowDetail.slot_id }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    合同规定排期
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="schedule" value="{{ flowDetail.schedule }}" readonly />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    总展现量
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="show" placeholder="纯数字" value="{{ flowDetail.show }}" readonly  />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    CTR
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="ctr" value="{{ flowDetail.ctr }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    真实数据（请求）与排期差
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="data_gap" value="{{ flowDetail.data_gap }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    结算数据
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="clear_data" value="{{ flowDetail.clear_data }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    结算金额
                </label>
                <div class="controls">
                    <input type="text" class="input-large" name="clear_amount" placeholder="纯数字,支持小数" value="{{ flowDetail.clear_amount }}" readonly />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    <i>*</i>
                    最晚付款时间及总额
                </label>
                <div class="controls">
                    <input id="end_pay_time_dead" class="input-small" type="text" name="end_pay_time_dead" placeholder="最晚付款时间" value="{{ flowDetail.end_pay_time_dead }}" readonly />
                    <input id="pay_cost" class="input-small" type="text" name="pay_cost" placeholder="付款总额" placeholder="纯数字,支持小数" value="{{ flowDetail.pay_cost }}" readonly />
                </div>
            </div>
        </div>

        <div style="clear: both;"></div>

        <div class="control-group">
            <label class="control-label">
                <i>*</i>
                媒体账户名
            </label>
            <div class="controls">
                <input class="input-xxlarge" name="media_account" type="text" value="{{ flowDetail.media_account }}" readonly />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                <i>*</i>
                银行卡号
            </label>
            <div class="controls">
                <input class="input-xxlarge" name="card_number" type="text" placeholder="纯数字,无需空格" value="{{ flowDetail.card_number }}" readonly />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                <i>*</i>
                开户行名称
            </label>
            <div class="controls">
                <input class="input-xxlarge" name="media_bank" placeholder="xxx银行 xxx支行" type="text" value="{{ flowDetail.media_bank }}" readonly />
            </div>
        </div>

        <div style="clear: both;"></div>
        
        {% if attachments %}
        <div class="control-group">
            <label class="control-label">
                附件
            </label>
            <div class="controls">
                <ul class="thumbnails">
                    {% for attachment in attachments %}
                    <li><a href="{{ url_for('static', filename=attachment) }}" target="_blank"><img style="width:120px" src="{{ url_for('static', filename=attachment) }}" /></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        
        <div class="control-group">
            <label class="control-label">
                其他说明
            </label>
            <div class="controls">
                <textarea name="des" style="width:500px; height:100px;" placeholder="100字以内" id="des" value="{{ flow.des }}" readonly></textarea>
            </div>
        </div>

        {% include "wf/basePayApproval.html" %} 
    </div>
</div>
{% endblock %}
